html{
    

  font-family: "Roboto", sans-serif;




}

body {
    margin: 0;
}


header {
    background-color: #0171f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

.header-logo {
    width: 125px;
    padding: 5px 0;
}

.header-links a {
    color: white;
    padding: 0 15px;
    text-decoration: none;
}

.header-links a:hover {
    background-color: #2386fe;
    border-radius: 7px;
}

.btn {
    background-color: #ff4e4e;
    color: white;
    border: none;
    padding: 3px 15px;
    border-radius: 10px;
}

.btn:hover{
    background-color: #ee626b;
    border-radius: 10px;
}

.landing-page {
    display: flex;
    background-color: #0171F9;
    color: white;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    border-radius: 0 0 50px 50px;
    height: 485px;
}

.landing-page-search input{
    border-radius: 50px;
    border: none;
    outline: none;
    height: 30px;
    padding: 0 10px;


}

.landing-page-search button {
    position: absolute;
    left: 150px;
    height: 30px;
    border-radius: 50px;

}

.landing-page-image-container img {
    border-radius: 20px;
    width: 355px;
    right: 30px;



}

.landing-page-left-section {
    width: 600px;
}



.Trending-container{
    padding: 20px 25px;
    margin: 3;
}
.Trending-container span {
    color: #ee626b;
    text-transform: uppercase;
}

.Trending-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Trending-header h2 {
    margin-top: 0;
}

.trending-cards {
    display: flex;
    gap: 12px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    background-color: #EEEEEE;
    align-items: center;
    padding: 5px 20px;
    border-radius: 20px;
}

.card-info img{
    width: 50px;

}

.card {
    width: 300px;
    background-color: #EEEEEE;
    border-radius: 20px;
}

.thump {
    border-radius: 20px 20px 0 0 ;
}







.top-container {
    padding: 20px 25px;
}

.top-container span {
    color: #ee626b;
    text-transform: uppercase;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header h2 {
    margin-top: 0;
}

.top-cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}



.thump-2 {
    width: 200px;
    height: 260px;
    border-radius: 15px;
    display: block;
}

.thump-2 img {
    transform: 1s;
}

.thump-2 img:hover {
    width: 230px;
    height: 290px;
}




.online-container {
    padding: 20px 25px;
    background-color: #cecece;
    border-radius: 50px;
    margin: 10px 15px;
    
}

.online-container span {
    color: #ee626b;
    text-transform: uppercase;
}

.online-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.online-header h2 {
    margin: 0;
}

.online-cards {
    display: flex;
    gap: 5px;
    
    


}

.thump-3 {
    border-radius: 20px 20px 0 0 ;
    width: 300px;
    display: block;

}

footer {
    color: white;
    background-color: #0171F9;
    border-radius: 45px 45px 0 0;
    text-align: center;
    width: 100%;
    height: 150px;
    align-items: center;

}

footer h2 {
    padding: 50px;
}
